html, body {
    text-align: center !important;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    background-image: url(https://res.cloudinary.com/dytmcam8b/image/upload/v1593038716/wil-stewart-UErWoQEoMrc-unsplash_mggrvk.jpg);
    height: 100%;
    background-size: cover;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    background-attachment: fixed;
    background-position: center;
  }
  .container {
    text-align: center;
    background-color: rgba(128, 128, 128, 0.6);
    width: 80vw;
    margin-top: 5vh;
    margin-bottom: 10vh;
  }
  .interaction {
    text-align: center;
    display: block;
  }
  .results {
    color: black;
    padding: 20px;
  }
  form {
    padding: 10px;
  }
  .random {
    margin: 10px;
  }
  h1 {
    font-family: 'Lobster', cursive;
    font-size: 20px;
  }
  h2 {
    font-size: 15px;
  }
  .submit {
    margin: 10px;
  }
  #complete {
    color: black;
  }
  #bottle {
    height: 100px;
  }
  @media only screen and (min-width: 1000px) {
    h1 {
      font-size: 60px;
    }
    h2 {
      font-size: 30px;
    }
    .container {
      font-size: 2em;
    }
    #bottle {
      height: 200px;
    }
  }
  @media only screen and (min-width: 2000px) {
    h1 {
      font-size: 100px;
    }
    h2 {
      font-size: 60px;
    }
    .container {
      font-size: 3em;
    }
    #bottle {
      height: 400px;
    }
  }